<link rel="stylesheet" href="/css/navbar.css">
<nav>
    <ul class="main-nav">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="#">about</a></li>
        <% if(loggedIn) { %>
        <li class="nav-item nav-right-first"><a href="/game/account">account</a></li>
        <% } else { %>
        <div class="dropdown nav-right-first">
            <li class="nav-item nav-right"><a href="#">account</a></li>
            <div class="dropdown-content">
                <ul class="dropdown-items">
                    <li class="nav-item orange"><a id="metamask" href="#" onclick="metamaskAuth()">metamask login</a></li>
                    <li class="nav-item cyan"><a id="emailLoginButton" href="/login?form=login">email login</a></li>
                    <li class="nav-item blue"><a id="registerButton" href="/login?form=register">register</a></li>
                </ul>
            </div>
        </div>
        <% } %>
    </ul>
</nav>