body {
    background-image: url('/images/dark-honeycomb.png');
}

h1 {
    color: #5674b6;
    text-align: center;
}

.login-box {
    width: 420px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
}

.login-switcher {
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.login-switcher-button {
    background-color: #007786;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.switcher-active {
    background-color: #00f3ff;
}

.login-switcher-button#switcher-register {
    margin-left: 20px;
    margin-right: -20px;
}

.login-switcher-spacer {
    flex-grow: 1;
    background-color: black;
}

.login-dialog {
    width: 400px;
    margin: 0 auto;
    background-image: -moz-linear-gradient(left, teal, blue);
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
}

.login-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-dialog input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.metamask-button {
    background-color: orange;
    border: none;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-dialog p {
    color: #fff;
    text-align: center;
    margin-top: 0;
}

.login-dialog a {
    color: #d3ff00;
    text-decoration: none;
}

.hidden {
    display: none;
}

h2 {
    color: white;
}

p {
    color: white;
}

span {
    color: white;
}

.galaxy-action:visited,
.galaxy-action:link {
    color: #d3ff00;
}

.building-builder-view {
    height: 150px;
    border: solid;
    border-color: #d3ff00;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.building-builder-main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

.building-builder-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    color: white;
    border: solid;
    border-color: #d3ff00;
    text-align: center;
    align-items: center;
    background-image: -moz-linear-gradient(-45deg, teal, blue)
}

.building-builder-photo {
    width: 100px;
    height: 100px;
}

.building-builder-button {
    background-color: orange;
    border: none;
    width: 100%;
    margin-bottom: 0;
}

.building-builder-button:hover {
    background-color: #d3ff00;
    cursor: pointer;
}