body {
    background-image: url('/images/dark-honeycomb.png');
}

h1 {
    color: #5674b6;
    text-align: center;
}

.login-box {
    width: 420px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
}

.login-switcher {
    display: flex;
    margin-bottom: 0;
    padding: 0;
}

.login-switcher-button {
    background-color: #007786;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

.switcher-active {
    background-color: #00f3ff;
}

.login-switcher-button#switcher-register {
    margin-left: 20px;
    margin-right: -20px;
}

.login-switcher-spacer {
    flex-grow: 1;
    background-color: black;
}

.login-dialog {
    width: 400px;
    margin: 0 auto;
    background-image: linear-gradient(left, teal, blue);
    background-image: -o-linear-gradient(left, teal, blue);
    background-image: -moz-linear-gradient(left, teal, blue);
    background-image: -webkit-linear-gradient(left, teal, blue);    
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
}

.login-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-dialog input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.metamask-button {
    background-color: orange;
    border: none;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-dialog p {
    color: #fff;
    text-align: center;
    margin-top: 0;
}

.login-dialog a {
    color: #d3ff00;
    text-decoration: none;
}

.hidden {
    display: none;
}

h2 {
    color: white;
}

p {
    color: white;
}

span {
    color: white;
}

.galaxy-action,
.galaxy-action:link,
.galaxy-action:visited,
.galaxy-action:link {
    color: #d3ff00;
    text-decoration: underline;
    cursor: pointer;
}

.building-builder-main {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

.building-builder-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    color: white;
    border: solid;
    border-color: #d3ff00;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(-45deg, teal, blue);
    background-image: -o-linear-gradient(-45deg, teal, blue);
    background-image: -moz-linear-gradient(-45deg, teal, blue);
    background-image: -webkit-linear-gradient(-45deg, teal, blue);
}

.building-builder-photo {
    width: 100px;
    height: 100px;
}

.building-builder-button {
    background-color: orange;
    border: none;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.building-builder-button:hover {
    background-color: #d3ff00;
    cursor: pointer;
}

.building-builder-button-text {
    color: black;
    align-items: left;
}

.building-builder-level {
    color: black;
    align-items: right;
    margin-right: 0;
}

.dialog-action {
    border: 3px solid #333333;
    background: #f1f1f1;
    padding: 15px 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: block;
    transition: all 150ms ease-out;
    transform: translateY(0px);
  }
  .dialog-action:hover, .dialog-action:focus {
    outline: 0;
    transform: translateY(-5px);
    transition: all 100ms ease-in;
    box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
  }
  .dialog-action:active {
    transform: translateY(-3px);
  }
  
  .dialog {
    background: #f1f1f1;
    width: 70%;
    position: absolute;
    left: calc(50% - 35%);
    top: 0;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
    border: 3px solid #333333;
    visibility: hidden;
    opacity: 0;
    transition: all 180ms ease-in;
  }

  .dialog.dialog-active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out;
  }
  .dialog .dialog-close {
    color: #333333;
    font-size: 2rem;
    line-height: 2rem;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 15px;
    transition: color 150ms ease;
  }
  .dialog .dialog-close:hover {
    color: #E74C3C;
  }
  .dialog .dialog-title {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #333333;
    color: black;
  }
  .dialog .dialog-content {
    font-size: 1.1rem;
    line-height: 2rem;
    color: black;
  }

  .dialog .dialog-action {
    margin: 0;
    font-size: 1rem;
  }

.dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-button-red {
    background-color: red;
}

.dialog-button-green {
    background-color: green;
}

.dialog-button-red:hover {
    background-color: #E74C3C;
}

.dialog-button-green:hover {
    background-color: #2ECC71;
}

.dialog-button-gray {
    background-color: gray;
}

.dialog-content-red {
    color: red;
}