<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon shortcut" href="/favicon.ico">
    <title>WebCo - Login</title>
</head>
<body>
    <%- include("../partials/navbar.ejs", { loggedIn: false }); %>
    <div class="login-box">
        <div class="login-switcher">
            <div class="login-switcher-button" id="switcher-login">login</div>
            <div class="login-switcher-button" id="switcher-register" onclick="toggle()">register</div>
            <div class="login-switcher-spacer"></div>
        </div>
        <div class="login-dialog" id="login">
            <form method="POST" action="/login/log">
                <input type="text" name="login" placeholder="login" required>
                <input type="password" name="password" placeholder="password" required>
                <input type="submit" value="login">
                <p>or</p>
                <button class="metamask-button" onclick="metamaskAuth()">login with metamask</button>
            </form>
        </div>
        <div class="login-dialog hidden" id="register">
            <form method="POST" action="/login/reg">
                <input type="text" name="login" placeholder="login" required>
                <input type="email" name="email" placeholder="email" required>
                <input type="password" name="password" placeholder="password" required>
                <input type="password" name="password2" placeholder="repeat password" required>
                <input type="submit" value="register">
                <p>or</p>
                <button class="metamask-button" onclick="metamaskAuth()">register with metamask</button>
            </form>
        </div>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>